<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LotteGet.Properties.Settings.LotteConnectionString"
            connectionString="Data Source=DESKTOP-0D26J1B;Initial Catalog=Lotte;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LotteGet.Properties.Settings.DataConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\banana\Desktop\Data.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>